# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-15 06:21:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.491 ms
Download: 1828.28 Mbit/s
Upload: 1587.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.243009秒
下载速度: 0字节/秒
```

