# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 06:20:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.175 ms
Download: 1975.93 Mbit/s
Upload: 1869.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.820222秒
下载速度: 0字节/秒
```

