# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 16:14:56
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.334 ms
Download: 1834.96 Mbit/s
Upload: 1365.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.145154秒
下载速度: 0字节/秒
```

