# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 14:11:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.944 ms
Download: 3020.93 Mbit/s
Upload: 2681.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.496446秒
下载速度: 0字节/秒
```

