# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-10 03:13:59
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.13 ms
Download: 1805.05 Mbit/s
Upload: 1091.97 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.146840秒
下载速度: 0字节/秒
```

