# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 04:15:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.469 ms
Download: 2899.14 Mbit/s
Upload: 2644.35 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.445229秒
下载速度: 0字节/秒
```

