# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-08 18:20:06
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.802 ms
Download: 2176.48 Mbit/s
Upload: 1120.02 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.689675秒
下载速度: 0字节/秒
```

