# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 01:01:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.026 ms
Download: 1990.54 Mbit/s
Upload: 1871.08 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.701948秒
下载速度: 0字节/秒
```

