# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-24 22:13:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.128 ms
Download: 1999.71 Mbit/s
Upload: 1579.83 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.516440秒
下载速度: 0字节/秒
```

