# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-24 14:10:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.41 ms
Download: 1993.90 Mbit/s
Upload: 1879.99 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.104838秒
下载速度: 0字节/秒
```

