# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-30 10:14:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.52 ms
Download: 1964.84 Mbit/s
Upload: 1242.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.586515秒
下载速度: 0字节/秒
```

