# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-08 08:17:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 42.458 ms
Download: 1659.81 Mbit/s
Upload: 980.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.096976秒
下载速度: 0字节/秒
```

