# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 14:10:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 45.153 ms
Download: 1341.22 Mbit/s
Upload: 583.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.339839秒
下载速度: 0字节/秒
```

