# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 05:15:15
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.913 ms
Download: 1510.14 Mbit/s
Upload: 1257.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.998138秒
下载速度: 0字节/秒
```

