# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-26 16:15:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.315 ms
Download: 2312.75 Mbit/s
Upload: 1082.45 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.138484秒
下载速度: 0字节/秒
```

