# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-16 03:17:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.055 ms
Download: 1939.70 Mbit/s
Upload: 1798.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.329015秒
下载速度: 0字节/秒
```

