# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 12:21:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.694 ms
Download: 1850.28 Mbit/s
Upload: 1355.61 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 9.838279秒
下载速度: 0字节/秒
```

