# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-07 06:17:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.829 ms
Download: 1998.77 Mbit/s
Upload: 1882.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.569008秒
下载速度: 0字节/秒
```

