# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-19 21:12:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.992 ms
Download: 2018.28 Mbit/s
Upload: 1817.07 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.962960秒
下载速度: 0字节/秒
```

