# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 04:14:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.856 ms
Download: 1959.74 Mbit/s
Upload: 1779.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.320778秒
下载速度: 0字节/秒
```

