# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 10:15:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.406 ms
Download: 2050.78 Mbit/s
Upload: 1861.12 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.463053秒
下载速度: 0字节/秒
```

