# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 14:12:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.235 ms
Download: 2077.83 Mbit/s
Upload: 1741.41 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.643800秒
下载速度: 0字节/秒
```

