# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-07 22:11:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.231 ms
Download: 1760.82 Mbit/s
Upload: 711.63 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.564253秒
下载速度: 0字节/秒
```

