# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-29 15:15:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.173 ms
Download: 1906.20 Mbit/s
Upload: 1406.52 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.019994秒
下载速度: 0字节/秒
```

