# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 08:20:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.358 ms
Download: 1800.90 Mbit/s
Upload: 1473.56 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.098133秒
下载速度: 0字节/秒
```

