# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-17 02:22:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.725 ms
Download: 1859.90 Mbit/s
Upload: 1659.55 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.131021秒
下载速度: 0字节/秒
```

