# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 22:10:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 59.499 ms
Download: 25.57 Mbit/s
Upload: 344.08 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.586715秒
下载速度: 0字节/秒
```

