# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 11:11:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.046 ms
Download: 1942.01 Mbit/s
Upload: 1787.13 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 17.727591秒
下载速度: 0字节/秒
```

