# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 16:15:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.063 ms
Download: 1962.24 Mbit/s
Upload: 1954.62 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.205438秒
下载速度: 0字节/秒
```

