# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 17:15:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.409 ms
Download: 1904.67 Mbit/s
Upload: 1341.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.151900秒
下载速度: 0字节/秒
```

