# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-27 02:13:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.511 ms
Download: 1884.34 Mbit/s
Upload: 1836.00 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.529694秒
下载速度: 0字节/秒
```

