# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 10:15:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.113 ms
Download: 2009.25 Mbit/s
Upload: 1899.30 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.597990秒
下载速度: 0字节/秒
```

