# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 02:49:51
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.283 ms
Download: 1350.32 Mbit/s
Upload: 703.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.312827秒
下载速度: 0字节/秒
```

