# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-06 22:11:30
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.643 ms
Download: 1992.55 Mbit/s
Upload: 1707.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.897351秒
下载速度: 0字节/秒
```

