# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-21 06:19:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.481 ms
Download: 1940.91 Mbit/s
Upload: 1663.76 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.146503秒
下载速度: 0字节/秒
```

