# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 00:55:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.121 ms
Download: 1895.32 Mbit/s
Upload: 1848.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.036582秒
下载速度: 0字节/秒
```

