# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 04:15:49
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.833 ms
Download: 1912.89 Mbit/s
Upload: 1422.97 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.444807秒
下载速度: 0字节/秒
```

