# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 23:11:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.075 ms
Download: 1867.54 Mbit/s
Upload: 1100.47 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.439891秒
下载速度: 0字节/秒
```

