# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-12 22:10:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.263 ms
Download: 1953.62 Mbit/s
Upload: 1806.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.310636秒
下载速度: 0字节/秒
```

