# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 23:17:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.495 ms
Download: 1258.18 Mbit/s
Upload: 1523.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.584992秒
下载速度: 0字节/秒
```

