# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-05 08:15:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.42 ms
Download: 1999.37 Mbit/s
Upload: 1528.25 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.019409秒
下载速度: 0字节/秒
```

