# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-13 10:14:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.428 ms
Download: 2016.72 Mbit/s
Upload: 1658.46 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.718985秒
下载速度: 0字节/秒
```

