# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 10:15:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.758 ms
Download: 1865.42 Mbit/s
Upload: 1665.89 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.381276秒
下载速度: 0字节/秒
```

