# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-26 02:45:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.177 ms
Download: 1979.21 Mbit/s
Upload: 1135.55 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.950402秒
下载速度: 0字节/秒
```

