# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-26 23:10:59
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.79 ms
Download: 1933.71 Mbit/s
Upload: 1506.03 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.931803秒
下载速度: 0字节/秒
```

