# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-08 05:15:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.112 ms
Download: 2001.81 Mbit/s
Upload: 1554.03 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.489963秒
下载速度: 0字节/秒
```

