# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-09 04:15:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 27.542 ms
Download: 1714.02 Mbit/s
Upload: 977.97 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.618167秒
下载速度: 0字节/秒
```

