# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-24 15:15:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.573 ms
Download: 2030.76 Mbit/s
Upload: 1912.73 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.571172秒
下载速度: 0字节/秒
```

