# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-30 20:13:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.468 ms
Download: 1892.31 Mbit/s
Upload: 1656.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.370835秒
下载速度: 0字节/秒
```

