# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-29 04:15:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 51.254 ms
Download: 1593.89 Mbit/s
Upload: 563.50 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.211334秒
下载速度: 0字节/秒
```

