# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-27 03:13:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.526 ms
Download: 2035.11 Mbit/s
Upload: 1972.02 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.370012秒
下载速度: 0字节/秒
```

