# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-07 16:15:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.792 ms
Download: 1381.56 Mbit/s
Upload: 1073.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 8.407699秒
下载速度: 0字节/秒
```

