# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-21 07:14:55
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.089 ms
Download: 2013.98 Mbit/s
Upload: 1900.40 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.289317秒
下载速度: 0字节/秒
```

