# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 17:10:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 20.77 ms
Download: 1882.91 Mbit/s
Upload: 1217.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.615886秒
下载速度: 0字节/秒
```

