# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-30 08:18:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.297 ms
Download: 1902.95 Mbit/s
Upload: 1552.27 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.856259秒
下载速度: 0字节/秒
```

