# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-04 22:10:49
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 40.142 ms
Download: 1775.32 Mbit/s
Upload: 1146.10 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.705946秒
下载速度: 0字节/秒
```

