# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 11:10:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.482 ms
Download: 1031.74 Mbit/s
Upload: 1435.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.709320秒
下载速度: 0字节/秒
```

