# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-25 16:16:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.431 ms
Download: 1867.77 Mbit/s
Upload: 1727.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.754249秒
下载速度: 0字节/秒
```

