# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 02:20:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.071 ms
Download: 2056.93 Mbit/s
Upload: 1907.17 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 10.782537秒
下载速度: 0字节/秒
```

