# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-10 21:11:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.145 ms
Download: 1904.19 Mbit/s
Upload: 1150.44 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.290134秒
下载速度: 0字节/秒
```

