# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-18 23:13:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.521 ms
Download: 2014.78 Mbit/s
Upload: 1889.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.239663秒
下载速度: 0字节/秒
```

