# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 02:29:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 37.79 ms
Download: 2239.03 Mbit/s
Upload: 629.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.132066秒
下载速度: 0字节/秒
```

