# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-30 03:26:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.435 ms
Download: 1934.33 Mbit/s
Upload: 1813.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.672211秒
下载速度: 0字节/秒
```

