# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-14 21:10:56
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.047 ms
Download: 1930.85 Mbit/s
Upload: 1590.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.238715秒
下载速度: 0字节/秒
```

