# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-25 05:17:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 27.945 ms
Download: 1868.16 Mbit/s
Upload: 1066.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.010771秒
下载速度: 0字节/秒
```

