# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-02 20:17:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.621 ms
Download: 1840.89 Mbit/s
Upload: 1412.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.647894秒
下载速度: 0字节/秒
```

