# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 16:16:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.532 ms
Download: 1935.29 Mbit/s
Upload: 1688.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.223001秒
下载速度: 0字节/秒
```

