# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 10:14:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.144 ms
Download: 2046.27 Mbit/s
Upload: 1887.44 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.687696秒
下载速度: 0字节/秒
```

