# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-21 21:11:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.306 ms
Download: 1334.62 Mbit/s
Upload: 2020.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.950452秒
下载速度: 0字节/秒
```

