# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-23 23:11:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.828 ms
Download: 2018.52 Mbit/s
Upload: 1887.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.504671秒
下载速度: 0字节/秒
```

