# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-23 16:13:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.08 ms
Download: 1968.45 Mbit/s
Upload: 1793.46 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.893345秒
下载速度: 0字节/秒
```

