# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 10:11:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.901 ms
Download: 1937.17 Mbit/s
Upload: 1839.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.067633秒
下载速度: 0字节/秒
```

