# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 12:26:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 27.779 ms
Download: 1791.75 Mbit/s
Upload: 792.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.215706秒
下载速度: 0字节/秒
```

