# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-31 20:14:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.771 ms
Download: 2012.56 Mbit/s
Upload: 1802.49 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.408714秒
下载速度: 0字节/秒
```

