# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 22:10:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.134 ms
Download: 1916.06 Mbit/s
Upload: 1321.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.538186秒
下载速度: 0字节/秒
```

