# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 22:12:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 28.738 ms
Download: 1706.56 Mbit/s
Upload: 998.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.158675秒
下载速度: 0字节/秒
```

