# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 09:14:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.778 ms
Download: 1979.92 Mbit/s
Upload: 1621.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.528319秒
下载速度: 0字节/秒
```

