# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-19 10:12:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.198 ms
Download: 1928.44 Mbit/s
Upload: 1643.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.690434秒
下载速度: 0字节/秒
```

