# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 19:10:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.662 ms
Download: 2035.22 Mbit/s
Upload: 1646.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.009899秒
下载速度: 0字节/秒
```

