# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 02:43:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 50.087 ms
Download: 1427.34 Mbit/s
Upload: 723.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.235192秒
下载速度: 0字节/秒
```

