# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-19 08:19:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.789 ms
Download: 2761.81 Mbit/s
Upload: 2587.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.983418秒
下载速度: 0字节/秒
```

