# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 21:12:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.814 ms
Download: 1841.63 Mbit/s
Upload: 1304.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.255091秒
下载速度: 0字节/秒
```

