# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-16 10:15:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.309 ms
Download: 1974.50 Mbit/s
Upload: 1802.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.685287秒
下载速度: 0字节/秒
```

