# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 05:21:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.164 ms
Download: 1987.01 Mbit/s
Upload: 1662.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.747457秒
下载速度: 0字节/秒
```

