# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-30 08:15:15
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.356 ms
Download: 2818.63 Mbit/s
Upload: 2203.24 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.962571秒
下载速度: 0字节/秒
```

