# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-22 23:10:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 37.843 ms
Download: 1382.89 Mbit/s
Upload: 472.97 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.115134秒
下载速度: 0字节/秒
```

