# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-15 20:14:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.858 ms
Download: 1923.55 Mbit/s
Upload: 1936.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.689705秒
下载速度: 0字节/秒
```

