# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-08 03:15:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.065 ms
Download: 1018.10 Mbit/s
Upload: 464.73 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 37.221905秒
下载速度: 0字节/秒
```

