# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-18 08:21:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.39 ms
Download: 1964.95 Mbit/s
Upload: 1696.63 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.468472秒
下载速度: 0字节/秒
```

