# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-22 22:09:59
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.057 ms
Download: 1996.66 Mbit/s
Upload: 1407.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.620124秒
下载速度: 0字节/秒
```

