# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-06 06:19:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.918 ms
Download: 1982.54 Mbit/s
Upload: 1761.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.563711秒
下载速度: 0字节/秒
```

