# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-21 22:12:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.743 ms
Download: 1890.06 Mbit/s
Upload: 1420.40 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.105597秒
下载速度: 0字节/秒
```

