# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 15:14:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.722 ms
Download: 1904.33 Mbit/s
Upload: 1726.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 13.006937秒
下载速度: 0字节/秒
```

