# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 12:27:20
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 59.63 ms
Download: 593.04 Mbit/s
Upload: 224.49 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.179987秒
下载速度: 0字节/秒
```

