# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 09:17:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.556 ms
Download: 1795.74 Mbit/s
Upload: 1415.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.529620秒
下载速度: 0字节/秒
```

