# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 04:22:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 30.695 ms
Download: 1890.99 Mbit/s
Upload: 1025.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.953067秒
下载速度: 0字节/秒
```

