# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-12 16:15:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.326 ms
Download: 1999.44 Mbit/s
Upload: 1800.25 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 13.489929秒
下载速度: 0字节/秒
```

