# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-24 23:11:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.117 ms
Download: 1991.61 Mbit/s
Upload: 1507.72 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.456149秒
下载速度: 0字节/秒
```

