# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 10:14:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.918 ms
Download: 1880.74 Mbit/s
Upload: 1457.11 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.557723秒
下载速度: 0字节/秒
```

