# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-14 08:15:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.817 ms
Download: 1951.08 Mbit/s
Upload: 1498.23 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.453115秒
下载速度: 0字节/秒
```

