# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 05:13:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.21 ms
Download: 836.60 Mbit/s
Upload: 648.67 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.458960秒
下载速度: 0字节/秒
```

