# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-18 08:17:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.042 ms
Download: 2005.59 Mbit/s
Upload: 1424.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.799453秒
下载速度: 0字节/秒
```

