# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 17:10:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.066 ms
Download: 1916.52 Mbit/s
Upload: 1486.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.242914秒
下载速度: 0字节/秒
```

