# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-21 23:15:59
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 55.152 ms
Download: 305.99 Mbit/s
Upload: 118.95 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.473186秒
下载速度: 0字节/秒
```

