# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 03:25:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.275 ms
Download: 1953.94 Mbit/s
Upload: 2162.25 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.426634秒
下载速度: 0字节/秒
```

