# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 02:17:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.94 ms
Download: 1783.96 Mbit/s
Upload: 1035.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.829515秒
下载速度: 0字节/秒
```

