# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 21:10:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.649 ms
Download: 2040.75 Mbit/s
Upload: 1461.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.890907秒
下载速度: 0字节/秒
```

