# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-22 08:15:51
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.454 ms
Download: 501.38 Mbit/s
Upload: 3.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.730323秒
下载速度: 0字节/秒
```

