# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-24 20:15:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.425 ms
Download: 301.60 Mbit/s
Upload: 196.08 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.228662秒
下载速度: 0字节/秒
```

