# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 09:17:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.845 ms
Download: 1901.18 Mbit/s
Upload: 1329.62 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.985508秒
下载速度: 0字节/秒
```

