# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-26 12:23:12
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 1.545 ms
Download: 2053.15 Mbit/s
Upload: 1908.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.165704秒
下载速度: 0字节/秒
```

