# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-09 22:13:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.697 ms
Download: 1996.01 Mbit/s
Upload: 1638.17 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.346403秒
下载速度: 0字节/秒
```

