# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 05:13:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.175 ms
Download: 2062.76 Mbit/s
Upload: 1865.95 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.045941秒
下载速度: 0字节/秒
```

