# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 03:32:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 33.12 ms
Download: 2311.66 Mbit/s
Upload: 1059.99 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.666136秒
下载速度: 0字节/秒
```

