# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 04:13:57
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.037 ms
Download: 2053.79 Mbit/s
Upload: 1761.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.402129秒
下载速度: 0字节/秒
```

