# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-22 12:27:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.691 ms
Download: 2041.50 Mbit/s
Upload: 1487.98 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.193469秒
下载速度: 0字节/秒
```

