# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-08 20:15:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.812 ms
Download: 294.77 Mbit/s
Upload: 304.36 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.461061秒
下载速度: 0字节/秒
```

