# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-14 23:11:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.767 ms
Download: 3093.26 Mbit/s
Upload: 2606.63 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.948572秒
下载速度: 0字节/秒
```

