# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-02 11:11:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.851 ms
Download: 1655.39 Mbit/s
Upload: 1843.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.490775秒
下载速度: 0字节/秒
```

