# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 20:16:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.904 ms
Download: 1939.76 Mbit/s
Upload: 1204.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.689338秒
下载速度: 0字节/秒
```

