# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 16:14:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.644 ms
Download: 1971.26 Mbit/s
Upload: 1785.53 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.098687秒
下载速度: 0字节/秒
```

