# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-27 03:40:49
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 91.897 ms
Download: 540.19 Mbit/s
Upload: 179.69 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.456659秒
下载速度: 0字节/秒
```

