# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-04 03:48:25
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.024 ms
Download: 1949.07 Mbit/s
Upload: 1836.26 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.011340秒
下载速度: 0字节/秒
```

