# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-02 05:25:35
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.724 ms
Download: 1976.80 Mbit/s
Upload: 1820.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.138664秒
下载速度: 0字节/秒
```

