# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 13:25:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.456 ms
Download: 1991.20 Mbit/s
Upload: 1715.57 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.110549秒
下载速度: 0字节/秒
```

