# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 22:12:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.084 ms
Download: 1932.57 Mbit/s
Upload: 1885.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.381741秒
下载速度: 0字节/秒
```

