# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-05 22:12:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.82 ms
Download: 2008.90 Mbit/s
Upload: 873.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.549306秒
下载速度: 0字节/秒
```

