# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-15 23:12:09
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.256 ms
Download: 2191.88 Mbit/s
Upload: 1007.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.969466秒
下载速度: 0字节/秒
```

