# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 03:22:55
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.614 ms
Download: 2038.27 Mbit/s
Upload: 1979.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.918419秒
下载速度: 0字节/秒
```

