# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-27 23:12:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.127 ms
Download: 1878.45 Mbit/s
Upload: 1763.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.211908秒
下载速度: 0字节/秒
```

