# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-03 11:10:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.159 ms
Download: 2061.80 Mbit/s
Upload: 1693.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.010830秒
下载速度: 0字节/秒
```

