# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 13:24:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.733 ms
Download: 1964.67 Mbit/s
Upload: 1858.83 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.887274秒
下载速度: 0字节/秒
```

