# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-08 04:15:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 29.971 ms
Download: 2037.80 Mbit/s
Upload: 1801.04 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.119133秒
下载速度: 0字节/秒
```

