# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-29 05:13:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 29.484 ms
Download: 1805.96 Mbit/s
Upload: 1020.16 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.651274秒
下载速度: 0字节/秒
```

