# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-24 14:13:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.431 ms
Download: 1993.16 Mbit/s
Upload: 1645.30 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.135805秒
下载速度: 0字节/秒
```

