# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 08:18:25
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.019 ms
Download: 1926.90 Mbit/s
Upload: 1488.35 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.310392秒
下载速度: 0字节/秒
```

