# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-09 23:11:35
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.417 ms
Download: 2067.00 Mbit/s
Upload: 1915.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.143042秒
下载速度: 0字节/秒
```

