# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-17 20:14:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.115 ms
Download: 717.81 Mbit/s
Upload: 757.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.489245秒
下载速度: 0字节/秒
```

