# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 19:08:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.283 ms
Download: 1936.50 Mbit/s
Upload: 1824.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 16.351794秒
下载速度: 0字节/秒
```

