# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-12 15:13:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.178 ms
Download: 2039.74 Mbit/s
Upload: 1755.27 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.679200秒
下载速度: 0字节/秒
```

