# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-10 08:18:09
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.97 ms
Download: 1951.23 Mbit/s
Upload: 695.40 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.035345秒
下载速度: 0字节/秒
```

