# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-06 08:18:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.762 ms
Download: 2031.40 Mbit/s
Upload: 1644.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.555536秒
下载速度: 0字节/秒
```

