# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-17 09:16:57
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.951 ms
Download: 1971.71 Mbit/s
Upload: 1750.20 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.789928秒
下载速度: 0字节/秒
```

