# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-23 22:11:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.062 ms
Download: 2054.83 Mbit/s
Upload: 1930.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.358079秒
下载速度: 0字节/秒
```

