# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 13:17:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.151 ms
Download: 2714.06 Mbit/s
Upload: 1986.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.606793秒
下载速度: 0字节/秒
```

