# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 10:14:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 46.586 ms
Download: 959.79 Mbit/s
Upload: 527.55 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.496800秒
下载速度: 0字节/秒
```

