# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 10:15:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.155 ms
Download: 1422.43 Mbit/s
Upload: 857.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.944387秒
下载速度: 0字节/秒
```

