# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-21 10:11:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.616 ms
Download: 1917.29 Mbit/s
Upload: 1318.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.528466秒
下载速度: 0字节/秒
```

