# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 09:19:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.939 ms
Download: 1916.07 Mbit/s
Upload: 1313.93 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.182024秒
下载速度: 0字节/秒
```

