# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 09:14:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.865 ms
Download: 1966.14 Mbit/s
Upload: 1903.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.905382秒
下载速度: 0字节/秒
```

