# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-12 23:11:35
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.811 ms
Download: 1938.08 Mbit/s
Upload: 1653.43 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.165200秒
下载速度: 0字节/秒
```

