# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 08:15:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.648 ms
Download: 1922.93 Mbit/s
Upload: 1815.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 9.987978秒
下载速度: 0字节/秒
```

