# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 09:12:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 41.636 ms
Download: 644.03 Mbit/s
Upload: 246.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.240125秒
下载速度: 0字节/秒
```

