# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-21 12:23:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.124 ms
Download: 1887.18 Mbit/s
Upload: 1048.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.637570秒
下载速度: 0字节/秒
```

