# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 08:15:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.721 ms
Download: 2065.04 Mbit/s
Upload: 1726.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.376092秒
下载速度: 0字节/秒
```

