# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 21:10:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.439 ms
Download: 2042.30 Mbit/s
Upload: 1812.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.218029秒
下载速度: 0字节/秒
```

