# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-14 22:11:51
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.133 ms
Download: 2015.38 Mbit/s
Upload: 1757.53 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.465287秒
下载速度: 0字节/秒
```

