# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 21:10:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.606 ms
Download: 2048.68 Mbit/s
Upload: 1886.10 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.111700秒
下载速度: 0字节/秒
```

