# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 05:14:30
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.061 ms
Download: 2055.01 Mbit/s
Upload: 1929.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.739689秒
下载速度: 0字节/秒
```

