# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-24 03:30:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.812 ms
Download: 2008.73 Mbit/s
Upload: 1225.16 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.832392秒
下载速度: 0字节/秒
```

