# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 08:20:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.336 ms
Download: 1517.96 Mbit/s
Upload: 1871.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.489246秒
下载速度: 0字节/秒
```

