# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-06 02:43:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.588 ms
Download: 2001.21 Mbit/s
Upload: 1635.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.585330秒
下载速度: 0字节/秒
```

