# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-09 18:16:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.474 ms
Download: 1991.29 Mbit/s
Upload: 1834.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.160001秒
下载速度: 0字节/秒
```

