# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 04:20:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.292 ms
Download: 2028.39 Mbit/s
Upload: 1867.46 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.950015秒
下载速度: 0字节/秒
```

