# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 18:20:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.008 ms
Download: 1914.77 Mbit/s
Upload: 1894.91 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.798087秒
下载速度: 0字节/秒
```

