# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-26 09:12:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.882 ms
Download: 1947.40 Mbit/s
Upload: 1713.51 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.820473秒
下载速度: 0字节/秒
```

