# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-23 21:11:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.591 ms
Download: 1920.42 Mbit/s
Upload: 1475.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.107855秒
下载速度: 0字节/秒
```

