# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 04:16:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.616 ms
Download: 2091.68 Mbit/s
Upload: 1845.69 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.849749秒
下载速度: 0字节/秒
```

