# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 04:42:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.189 ms
Download: 2036.47 Mbit/s
Upload: 1672.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.723582秒
下载速度: 0字节/秒
```

