# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 03:07:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.248 ms
Download: 1961.69 Mbit/s
Upload: 1494.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.103212秒
下载速度: 0字节/秒
```

