# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-19 22:12:55
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.526 ms
Download: 1958.33 Mbit/s
Upload: 1598.85 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.408632秒
下载速度: 0字节/秒
```

