# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 11:10:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.979 ms
Download: 2034.31 Mbit/s
Upload: 1077.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.477231秒
下载速度: 0字节/秒
```

