# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 02:15:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.808 ms
Download: 1989.42 Mbit/s
Upload: 1935.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.616548秒
下载速度: 0字节/秒
```

