# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 23:12:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.933 ms
Download: 1677.12 Mbit/s
Upload: 795.08 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.399029秒
下载速度: 0字节/秒
```

