# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-13 13:27:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.398 ms
Download: 1924.84 Mbit/s
Upload: 1355.12 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 8.040200秒
下载速度: 0字节/秒
```

