# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-04 14:11:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.026 ms
Download: 2058.91 Mbit/s
Upload: 1870.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.126723秒
下载速度: 0字节/秒
```

