# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-17 02:45:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.182 ms
Download: 1894.98 Mbit/s
Upload: 1737.91 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.352409秒
下载速度: 0字节/秒
```

