# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 08:16:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.981 ms
Download: 1606.40 Mbit/s
Upload: 1501.52 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.532253秒
下载速度: 0字节/秒
```

