# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-25 04:19:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.11 ms
Download: 1811.62 Mbit/s
Upload: 1184.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.554272秒
下载速度: 0字节/秒
```

