# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 03:32:12
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.722 ms
Download: 1899.51 Mbit/s
Upload: 1356.05 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.678247秒
下载速度: 0字节/秒
```

