# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-12 06:20:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.365 ms
Download: 1952.76 Mbit/s
Upload: 1790.36 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.836770秒
下载速度: 0字节/秒
```

