# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 09:17:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.081 ms
Download: 1686.34 Mbit/s
Upload: 1865.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.756809秒
下载速度: 0字节/秒
```

