# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 01:06:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.77 ms
Download: 875.28 Mbit/s
Upload: 516.50 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.442379秒
下载速度: 0字节/秒
```

