# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-22 18:19:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.899 ms
Download: 1912.06 Mbit/s
Upload: 1167.44 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.484808秒
下载速度: 0字节/秒
```

