# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-27 10:17:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.766 ms
Download: 1990.13 Mbit/s
Upload: 1919.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.328828秒
下载速度: 0字节/秒
```

