# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-28 08:18:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.425 ms
Download: 1974.97 Mbit/s
Upload: 1633.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.645023秒
下载速度: 0字节/秒
```

