# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-19 09:14:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 35.645 ms
Download: 1636.10 Mbit/s
Upload: 1068.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.707207秒
下载速度: 0字节/秒
```

