# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 02:42:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.162 ms
Download: 2065.38 Mbit/s
Upload: 1857.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.860226秒
下载速度: 0字节/秒
```

