# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 12:26:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.06 ms
Download: 1951.09 Mbit/s
Upload: 1823.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.162356秒
下载速度: 0字节/秒
```

