# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 09:12:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.45 ms
Download: 1854.10 Mbit/s
Upload: 1361.61 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.949648秒
下载速度: 0字节/秒
```

