# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 08:18:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.531 ms
Download: 1964.81 Mbit/s
Upload: 1921.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.274112秒
下载速度: 0字节/秒
```

