# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 15:11:36
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.583 ms
Download: 1652.31 Mbit/s
Upload: 977.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.637471秒
下载速度: 0字节/秒
```

