# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 10:13:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.647 ms
Download: 2028.72 Mbit/s
Upload: 1861.95 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.451726秒
下载速度: 0字节/秒
```

