# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-12 18:18:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.631 ms
Download: 1940.36 Mbit/s
Upload: 1683.56 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.222577秒
下载速度: 0字节/秒
```

