# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 11:11:30
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.557 ms
Download: 1946.67 Mbit/s
Upload: 1634.76 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.920017秒
下载速度: 0字节/秒
```

