# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-03 16:15:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.423 ms
Download: 1978.30 Mbit/s
Upload: 1844.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.512757秒
下载速度: 0字节/秒
```

