# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-13 02:43:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 1.993 ms
Download: 2045.23 Mbit/s
Upload: 1848.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.115560秒
下载速度: 0字节/秒
```

