# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 14:14:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 33.621 ms
Download: 1857.09 Mbit/s
Upload: 811.04 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.506282秒
下载速度: 0字节/秒
```

