# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 22:11:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 32.443 ms
Download: 2875.91 Mbit/s
Upload: 2219.30 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.890033秒
下载速度: 0字节/秒
```

