# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 23:12:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 94.58 ms
Download: 698.16 Mbit/s
Upload: 0.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.596468秒
下载速度: 0字节/秒
```

