# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-15 23:12:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.208 ms
Download: 1971.50 Mbit/s
Upload: 1387.45 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.408538秒
下载速度: 0字节/秒
```

