# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-04 23:10:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.368 ms
Download: 2002.19 Mbit/s
Upload: 1823.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.758249秒
下载速度: 0字节/秒
```

