# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-22 10:15:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 36.138 ms
Download: 991.41 Mbit/s
Upload: 918.57 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.368390秒
下载速度: 0字节/秒
```

