# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 04:13:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.412 ms
Download: 2056.65 Mbit/s
Upload: 1711.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.378344秒
下载速度: 0字节/秒
```

