# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-23 22:13:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.054 ms
Download: 2052.85 Mbit/s
Upload: 1673.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.459885秒
下载速度: 0字节/秒
```

