# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-02 02:48:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.947 ms
Download: 2068.29 Mbit/s
Upload: 1861.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.078205秒
下载速度: 0字节/秒
```

