# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 03:12:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.18 ms
Download: 1985.46 Mbit/s
Upload: 1841.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.642509秒
下载速度: 0字节/秒
```

