# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 22:13:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 46.063 ms
Download: 1221.08 Mbit/s
Upload: 255.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.143153秒
下载速度: 0字节/秒
```

