# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 19:10:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 32.966 ms
Download: 1605.23 Mbit/s
Upload: 623.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.116679秒
下载速度: 0字节/秒
```

