# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 13:22:49
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.674 ms
Download: 1977.21 Mbit/s
Upload: 1483.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.592310秒
下载速度: 0字节/秒
```

