# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-06 09:12:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.851 ms
Download: 1906.77 Mbit/s
Upload: 1627.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.022091秒
下载速度: 0字节/秒
```

