# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 06:19:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 30.402 ms
Download: 2116.23 Mbit/s
Upload: 2345.41 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.260556秒
下载速度: 0字节/秒
```

