# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-08 10:15:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.646 ms
Download: 2075.11 Mbit/s
Upload: 1503.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.699694秒
下载速度: 0字节/秒
```

