# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-12 14:12:25
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.402 ms
Download: 2112.84 Mbit/s
Upload: 1747.44 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.509397秒
下载速度: 0字节/秒
```

