# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 14:12:55
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.217 ms
Download: 1969.86 Mbit/s
Upload: 1843.04 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.573346秒
下载速度: 0字节/秒
```

