# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-12 18:15:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.144 ms
Download: 2068.15 Mbit/s
Upload: 1701.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.467953秒
下载速度: 0字节/秒
```

