# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 23:12:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.026 ms
Download: 633.99 Mbit/s
Upload: 756.61 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.576204秒
下载速度: 0字节/秒
```

