# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-25 20:14:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.885 ms
Download: 3000.88 Mbit/s
Upload: 2215.96 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.728383秒
下载速度: 0字节/秒
```

