# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-25 08:18:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.21 ms
Download: 1849.77 Mbit/s
Upload: 1039.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.602568秒
下载速度: 0字节/秒
```

