# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 08:19:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.857 ms
Download: 2009.52 Mbit/s
Upload: 1832.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.305633秒
下载速度: 0字节/秒
```

