# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-13 09:15:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.238 ms
Download: 2037.32 Mbit/s
Upload: 1831.17 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.430255秒
下载速度: 0字节/秒
```

