# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 20:15:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.512 ms
Download: 2057.86 Mbit/s
Upload: 1918.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.614941秒
下载速度: 0字节/秒
```

