# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 02:24:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.262 ms
Download: 2038.04 Mbit/s
Upload: 347.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 16.344745秒
下载速度: 0字节/秒
```

