# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-29 02:24:36
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.431 ms
Download: 173.76 Mbit/s
Upload: 135.89 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.362902秒
下载速度: 0字节/秒
```

