# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-19 21:10:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.265 ms
Download: 1951.15 Mbit/s
Upload: 1750.07 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.089114秒
下载速度: 0字节/秒
```

