# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 13:18:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.117 ms
Download: 1863.86 Mbit/s
Upload: 1134.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 10.184505秒
下载速度: 0字节/秒
```

