# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-17 10:20:50
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.173 ms
Download: 1827.14 Mbit/s
Upload: 1821.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.182506秒
下载速度: 0字节/秒
```

