# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 00:54:35
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 52.304 ms
Download: 1835.52 Mbit/s
Upload: 632.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.674699秒
下载速度: 0字节/秒
```

