# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-15 08:21:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 126.835 ms
Download: 309.84 Mbit/s
Upload: 152.02 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.288257秒
下载速度: 0字节/秒
```

