# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 01:00:55
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.669 ms
Download: 2020.86 Mbit/s
Upload: 1872.00 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.371779秒
下载速度: 0字节/秒
```

