# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 03:23:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.81 ms
Download: 1854.32 Mbit/s
Upload: 1120.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.535397秒
下载速度: 0字节/秒
```

