# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 18:18:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.092 ms
Download: 1951.58 Mbit/s
Upload: 1711.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.825399秒
下载速度: 0字节/秒
```

