# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-17 18:20:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.573 ms
Download: 1832.80 Mbit/s
Upload: 1315.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.334507秒
下载速度: 0字节/秒
```

