# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-15 05:15:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.707 ms
Download: 1998.11 Mbit/s
Upload: 1896.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.144804秒
下载速度: 0字节/秒
```

