# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-06 04:14:35
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.112 ms
Download: 1854.51 Mbit/s
Upload: 2136.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.771271秒
下载速度: 0字节/秒
```

