# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 15:15:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.507 ms
Download: 170.78 Mbit/s
Upload: 138.88 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.316712秒
下载速度: 0字节/秒
```

