# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 22:12:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.566 ms
Download: 1982.54 Mbit/s
Upload: 1923.57 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.834045秒
下载速度: 0字节/秒
```

