# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-17 04:26:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 20.898 ms
Download: 1950.33 Mbit/s
Upload: 1357.80 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.841671秒
下载速度: 0字节/秒
```

