# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-02 12:27:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.018 ms
Download: 2095.08 Mbit/s
Upload: 1848.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.139529秒
下载速度: 0字节/秒
```

