# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-07 09:14:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.835 ms
Download: 3022.23 Mbit/s
Upload: 2640.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.665128秒
下载速度: 0字节/秒
```

