# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 06:20:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.195 ms
Download: 1932.06 Mbit/s
Upload: 1294.85 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.208086秒
下载速度: 0字节/秒
```

