# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 13:24:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.579 ms
Download: 1907.60 Mbit/s
Upload: 1607.91 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.506134秒
下载速度: 0字节/秒
```

