# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 18:17:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 34.034 ms
Download: 1970.49 Mbit/s
Upload: 1726.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.067279秒
下载速度: 0字节/秒
```

