# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-22 03:40:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.167 ms
Download: 2139.08 Mbit/s
Upload: 1045.55 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.375809秒
下载速度: 0字节/秒
```

