# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-15 22:09:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.503 ms
Download: 2017.06 Mbit/s
Upload: 1821.53 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.040630秒
下载速度: 0字节/秒
```

