# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-29 04:16:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.622 ms
Download: 1946.24 Mbit/s
Upload: 1883.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.987497秒
下载速度: 0字节/秒
```

