# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-27 21:11:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.219 ms
Download: 1917.17 Mbit/s
Upload: 1393.47 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.670100秒
下载速度: 0字节/秒
```

