# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 21:10:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 29.852 ms
Download: 1647.14 Mbit/s
Upload: 459.56 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.784444秒
下载速度: 0字节/秒
```

