# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-07 04:27:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.113 ms
Download: 1948.40 Mbit/s
Upload: 1424.94 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.438166秒
下载速度: 0字节/秒
```

