# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 09:16:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.208 ms
Download: 1816.98 Mbit/s
Upload: 1835.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.437260秒
下载速度: 0字节/秒
```

