# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-06 22:11:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.73 ms
Download: 1952.30 Mbit/s
Upload: 1759.83 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.890011秒
下载速度: 0字节/秒
```

