# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-04 22:11:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.359 ms
Download: 2071.34 Mbit/s
Upload: 1914.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.280598秒
下载速度: 0字节/秒
```

