# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 13:22:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.497 ms
Download: 1628.56 Mbit/s
Upload: 1161.61 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.471097秒
下载速度: 0字节/秒
```

