# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 02:10:09
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.817 ms
Download: 1704.84 Mbit/s
Upload: 1777.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.451225秒
下载速度: 0字节/秒
```

