# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-26 09:14:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.656 ms
Download: 87.42 Mbit/s
Upload: 1470.11 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.516281秒
下载速度: 0字节/秒
```

