# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-08 10:15:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.476 ms
Download: 1952.90 Mbit/s
Upload: 1178.83 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 45.325677秒
下载速度: 0字节/秒
```

