# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-06 06:18:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.299 ms
Download: 2002.15 Mbit/s
Upload: 1761.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.490757秒
下载速度: 0字节/秒
```

