# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 03:16:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.296 ms
Download: 2031.34 Mbit/s
Upload: 1648.11 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.426498秒
下载速度: 0字节/秒
```

