# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 14:15:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.276 ms
Download: 2086.62 Mbit/s
Upload: 1893.01 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.453903秒
下载速度: 0字节/秒
```

