# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 22:11:56
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.789 ms
Download: 1907.90 Mbit/s
Upload: 1627.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.069884秒
下载速度: 0字节/秒
```

