# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 23:11:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.123 ms
Download: 1997.71 Mbit/s
Upload: 1638.25 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.361685秒
下载速度: 0字节/秒
```

