# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-04 12:20:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.257 ms
Download: 1911.81 Mbit/s
Upload: 1559.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.644053秒
下载速度: 0字节/秒
```

