# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-02 05:13:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.581 ms
Download: 1988.72 Mbit/s
Upload: 1899.33 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.995200秒
下载速度: 0字节/秒
```

