# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 23:11:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.979 ms
Download: 2034.14 Mbit/s
Upload: 1873.45 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.227753秒
下载速度: 0字节/秒
```

