# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 04:19:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.107 ms
Download: 2050.22 Mbit/s
Upload: 1594.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 10.319737秒
下载速度: 0字节/秒
```

