# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 15:14:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.94 ms
Download: 1985.43 Mbit/s
Upload: 1855.00 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.664271秒
下载速度: 0字节/秒
```

