# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 21:12:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.143 ms
Download: 1952.33 Mbit/s
Upload: 1503.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.508694秒
下载速度: 0字节/秒
```

