# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-17 20:15:09
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.492 ms
Download: 2008.33 Mbit/s
Upload: 1785.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.536802秒
下载速度: 0字节/秒
```

