# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-14 07:12:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.35 ms
Download: 1850.82 Mbit/s
Upload: 1538.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.046670秒
下载速度: 0字节/秒
```

