# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-24 09:14:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 52.236 ms
Download: 1678.22 Mbit/s
Upload: 781.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.894093秒
下载速度: 0字节/秒
```

