# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-10 18:18:36
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.031 ms
Download: 1953.29 Mbit/s
Upload: 1808.50 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.825250秒
下载速度: 0字节/秒
```

