# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 03:40:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 20.427 ms
Download: 1905.42 Mbit/s
Upload: 1153.81 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.453309秒
下载速度: 0字节/秒
```

