# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 06:21:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.867 ms
Download: 2262.57 Mbit/s
Upload: 997.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.145358秒
下载速度: 0字节/秒
```

