# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-14 03:22:20
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.01 ms
Download: 1960.35 Mbit/s
Upload: 1075.57 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.624827秒
下载速度: 0字节/秒
```

