# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-20 03:39:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.43 ms
Download: 2010.17 Mbit/s
Upload: 1926.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.723730秒
下载速度: 0字节/秒
```

