# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 00:52:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.326 ms
Download: 2057.78 Mbit/s
Upload: 1974.85 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.102746秒
下载速度: 0字节/秒
```

