# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 13:30:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.805 ms
Download: 1838.76 Mbit/s
Upload: 1741.44 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 13.778109秒
下载速度: 0字节/秒
```

