# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 10:14:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.673 ms
Download: 1968.64 Mbit/s
Upload: 1696.16 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.036548秒
下载速度: 0字节/秒
```

