# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 02:25:36
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 29.648 ms
Download: 1958.47 Mbit/s
Upload: 1767.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.911793秒
下载速度: 0字节/秒
```

