# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 08:17:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.095 ms
Download: 1936.20 Mbit/s
Upload: 1846.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.724952秒
下载速度: 0字节/秒
```

