# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-02 09:13:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.738 ms
Download: 2031.69 Mbit/s
Upload: 1834.18 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.095758秒
下载速度: 0字节/秒
```

