# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 04:15:18
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.511 ms
Download: 2082.16 Mbit/s
Upload: 1748.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.476974秒
下载速度: 0字节/秒
```

