# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 09:13:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.116 ms
Download: 2017.23 Mbit/s
Upload: 1879.45 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.457225秒
下载速度: 0字节/秒
```

