# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-19 08:14:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.062 ms
Download: 1923.56 Mbit/s
Upload: 1824.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.945535秒
下载速度: 0字节/秒
```

