# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-06 20:14:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 30.951 ms
Download: 2493.93 Mbit/s
Upload: 2171.38 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.490674秒
下载速度: 0字节/秒
```

