# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-13 03:16:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.09 ms
Download: 2030.08 Mbit/s
Upload: 1944.51 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.217246秒
下载速度: 0字节/秒
```

