# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 10:14:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.109 ms
Download: 1930.69 Mbit/s
Upload: 1905.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.473239秒
下载速度: 0字节/秒
```

