# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 22:11:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.17 ms
Download: 2034.28 Mbit/s
Upload: 1737.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.397816秒
下载速度: 0字节/秒
```

