# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-09 17:14:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.429 ms
Download: 1987.38 Mbit/s
Upload: 1831.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 11.957412秒
下载速度: 0字节/秒
```

