# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-13 02:42:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.007 ms
Download: 1505.63 Mbit/s
Upload: 1526.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.213816秒
下载速度: 0字节/秒
```

