# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-03 09:13:15
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.971 ms
Download: 2075.65 Mbit/s
Upload: 1934.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.940623秒
下载速度: 0字节/秒
```

