# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-15 13:35:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.26 ms
Download: 2059.25 Mbit/s
Upload: 1912.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.067409秒
下载速度: 0字节/秒
```

