# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-22 02:41:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 50.089 ms
Download: 1473.45 Mbit/s
Upload: 555.24 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.931193秒
下载速度: 0字节/秒
```

