# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 23:10:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.869 ms
Download: 1452.76 Mbit/s
Upload: 1905.61 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.981271秒
下载速度: 0字节/秒
```

