# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 22:10:50
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.572 ms
Download: 1971.34 Mbit/s
Upload: 1514.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.525186秒
下载速度: 0字节/秒
```

