# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-25 12:26:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 29.33 ms
Download: 1842.06 Mbit/s
Upload: 1225.18 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.256655秒
下载速度: 0字节/秒
```

