# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-12 03:17:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 34.981 ms
Download: 972.72 Mbit/s
Upload: 263.96 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.102078秒
下载速度: 0字节/秒
```

