# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-29 09:12:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.155 ms
Download: 2039.54 Mbit/s
Upload: 1928.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.161249秒
下载速度: 0字节/秒
```

