# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 05:14:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.184 ms
Download: 2005.03 Mbit/s
Upload: 1868.29 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.534805秒
下载速度: 0字节/秒
```

