# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-26 02:20:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.171 ms
Download: 2011.07 Mbit/s
Upload: 1712.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.658649秒
下载速度: 0字节/秒
```

