# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-07 20:13:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.464 ms
Download: 1997.13 Mbit/s
Upload: 1045.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.193943秒
下载速度: 0字节/秒
```

