# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 20:14:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.048 ms
Download: 1504.21 Mbit/s
Upload: 1407.12 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.189381秒
下载速度: 0字节/秒
```

