# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 01:10:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 27.07 ms
Download: 2543.53 Mbit/s
Upload: 2136.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 9.180559秒
下载速度: 0字节/秒
```

