# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-07 03:20:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.684 ms
Download: 2015.82 Mbit/s
Upload: 1533.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.260155秒
下载速度: 0字节/秒
```

