# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-14 06:17:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.118 ms
Download: 1817.58 Mbit/s
Upload: 1835.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.380227秒
下载速度: 0字节/秒
```

