# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-19 08:17:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.68 ms
Download: 2018.68 Mbit/s
Upload: 1810.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.777863秒
下载速度: 0字节/秒
```

