# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 07:14:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.386 ms
Download: 2274.14 Mbit/s
Upload: 1056.01 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.916010秒
下载速度: 0字节/秒
```

