# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 06:20:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.057 ms
Download: 2031.84 Mbit/s
Upload: 1639.10 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.352442秒
下载速度: 0字节/秒
```

