# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 20:15:20
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.317 ms
Download: 2054.61 Mbit/s
Upload: 1712.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.508365秒
下载速度: 0字节/秒
```

