# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 13:30:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.232 ms
Download: 1996.26 Mbit/s
Upload: 2005.04 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.463879秒
下载速度: 0字节/秒
```

