# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-25 09:20:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.292 ms
Download: 1896.89 Mbit/s
Upload: 1828.76 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.882728秒
下载速度: 0字节/秒
```

