# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-15 09:14:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 33.493 ms
Download: 1675.05 Mbit/s
Upload: 820.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.200658秒
下载速度: 0字节/秒
```

