# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-17 20:14:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.132 ms
Download: 2500.98 Mbit/s
Upload: 530.57 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 17.522162秒
下载速度: 0字节/秒
```

