# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-16 08:20:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 57.442 ms
Download: 1123.33 Mbit/s
Upload: 431.13 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.675463秒
下载速度: 0字节/秒
```

