# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 04:15:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.783 ms
Download: 1673.72 Mbit/s
Upload: 968.74 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.546689秒
下载速度: 0字节/秒
```

