# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 06:21:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 30.863 ms
Download: 2054.32 Mbit/s
Upload: 2002.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.516733秒
下载速度: 0字节/秒
```

