# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-04 08:15:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.939 ms
Download: 1971.93 Mbit/s
Upload: 1879.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.070530秒
下载速度: 0字节/秒
```

