# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 05:13:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.079 ms
Download: 1938.91 Mbit/s
Upload: 1447.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.154742秒
下载速度: 0字节/秒
```

