# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-09 23:12:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.217 ms
Download: 1934.56 Mbit/s
Upload: 1591.85 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.621246秒
下载速度: 0字节/秒
```

