# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-13 08:15:57
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.553 ms
Download: 1912.41 Mbit/s
Upload: 1856.47 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 13.144083秒
下载速度: 0字节/秒
```

