# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-22 21:10:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.999 ms
Download: 2237.72 Mbit/s
Upload: 975.00 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.090328秒
下载速度: 0字节/秒
```

