# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 06:21:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.259 ms
Download: 1887.75 Mbit/s
Upload: 1307.73 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.744949秒
下载速度: 0字节/秒
```

