# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-24 23:12:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.488 ms
Download: 2051.43 Mbit/s
Upload: 1903.93 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.088313秒
下载速度: 0字节/秒
```

