# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 22:13:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 32.651 ms
Download: 1264.21 Mbit/s
Upload: 530.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.940935秒
下载速度: 0字节/秒
```

