# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-16 08:15:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.89 ms
Download: 1956.46 Mbit/s
Upload: 1902.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.801060秒
下载速度: 0字节/秒
```

