# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-18 05:12:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.899 ms
Download: 1854.16 Mbit/s
Upload: 1811.56 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.241861秒
下载速度: 0字节/秒
```

