# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 07:12:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.326 ms
Download: 1876.91 Mbit/s
Upload: 1570.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.654130秒
下载速度: 0字节/秒
```

