# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 05:13:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 23.016 ms
Download: 1929.91 Mbit/s
Upload: 1345.00 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.210045秒
下载速度: 0字节/秒
```

