# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 08:18:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.458 ms
Download: 2034.39 Mbit/s
Upload: 1837.56 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.201974秒
下载速度: 0字节/秒
```

