# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 12:21:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.447 ms
Download: 1995.16 Mbit/s
Upload: 1796.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.487638秒
下载速度: 0字节/秒
```

