# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-26 03:27:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.564 ms
Download: 1968.60 Mbit/s
Upload: 1851.98 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.038812秒
下载速度: 0字节/秒
```

