# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-26 08:21:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.606 ms
Download: 341.49 Mbit/s
Upload: 1036.69 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.090291秒
下载速度: 0字节/秒
```

