# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 04:16:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 42.82 ms
Download: 1680.79 Mbit/s
Upload: 1735.69 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.381277秒
下载速度: 0字节/秒
```

