# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-04 04:23:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.854 ms
Download: 1982.41 Mbit/s
Upload: 1509.72 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.469771秒
下载速度: 0字节/秒
```

