# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-02 13:22:27
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.591 ms
Download: 1883.80 Mbit/s
Upload: 1217.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.513300秒
下载速度: 0字节/秒
```

