# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-05 23:10:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.023 ms
Download: 2061.00 Mbit/s
Upload: 1884.50 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.107855秒
下载速度: 0字节/秒
```

