# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-12 06:19:51
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.987 ms
Download: 1987.31 Mbit/s
Upload: 1786.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.580311秒
下载速度: 0字节/秒
```

