# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-27 06:20:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.127 ms
Download: 1916.13 Mbit/s
Upload: 1820.49 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.868715秒
下载速度: 0字节/秒
```

