# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 12:21:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.233 ms
Download: 1861.61 Mbit/s
Upload: 1390.47 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.830302秒
下载速度: 0字节/秒
```

