# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-21 16:14:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 37.282 ms
Download: 1834.39 Mbit/s
Upload: 1124.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.499843秒
下载速度: 0字节/秒
```

