# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 06:20:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 20.155 ms
Download: 1948.14 Mbit/s
Upload: 1637.13 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.624942秒
下载速度: 0字节/秒
```

