# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 14:13:06
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.86 ms
Download: 2001.96 Mbit/s
Upload: 1838.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.598258秒
下载速度: 0字节/秒
```

