# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-30 09:14:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.149 ms
Download: 2000.40 Mbit/s
Upload: 2036.52 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 4.442652秒
下载速度: 0字节/秒
```

