# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-12 23:11:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.405 ms
Download: 2153.25 Mbit/s
Upload: 1046.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.040026秒
下载速度: 0字节/秒
```

