# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 09:11:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.567 ms
Download: 2054.70 Mbit/s
Upload: 1854.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.057669秒
下载速度: 0字节/秒
```

