# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-18 02:49:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.029 ms
Download: 2005.55 Mbit/s
Upload: 1837.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.909284秒
下载速度: 0字节/秒
```

