# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-12 14:11:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.294 ms
Download: 1893.78 Mbit/s
Upload: 1781.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.678426秒
下载速度: 0字节/秒
```

