# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-15 08:14:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.131 ms
Download: 1936.38 Mbit/s
Upload: 1810.92 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.577391秒
下载速度: 0字节/秒
```

