# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 20:11:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 40.19 ms
Download: 1642.02 Mbit/s
Upload: 638.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.429962秒
下载速度: 0字节/秒
```

