# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-10 03:29:42
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.476 ms
Download: 1975.79 Mbit/s
Upload: 1818.92 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.211002秒
下载速度: 0字节/秒
```

