# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-05 07:13:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.558 ms
Download: 1939.40 Mbit/s
Upload: 1811.62 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.673831秒
下载速度: 0字节/秒
```

