# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-14 10:15:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.186 ms
Download: 1941.32 Mbit/s
Upload: 1958.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.585081秒
下载速度: 0字节/秒
```

