# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-15 04:17:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 24.509 ms
Download: 1858.89 Mbit/s
Upload: 1135.93 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.019691秒
下载速度: 0字节/秒
```

