# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-29 14:14:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 32.918 ms
Download: 1958.69 Mbit/s
Upload: 1395.24 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.760987秒
下载速度: 0字节/秒
```

