# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 18:18:30
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.071 ms
Download: 1931.64 Mbit/s
Upload: 1928.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.614629秒
下载速度: 0字节/秒
```

