# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-06 02:15:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.139 ms
Download: 2051.63 Mbit/s
Upload: 1890.07 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.961944秒
下载速度: 0字节/秒
```

