# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 16:18:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.117 ms
Download: 1791.51 Mbit/s
Upload: 1735.18 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.171027秒
下载速度: 0字节/秒
```

