# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 04:15:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.783 ms
Download: 2094.32 Mbit/s
Upload: 1947.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.478481秒
下载速度: 0字节/秒
```

