# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 11:12:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.347 ms
Download: 1948.99 Mbit/s
Upload: 1825.27 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.758416秒
下载速度: 0字节/秒
```

