# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 22:11:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.926 ms
Download: 1861.38 Mbit/s
Upload: 1373.33 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.840579秒
下载速度: 0字节/秒
```

