# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 22:11:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.887 ms
Download: 2007.29 Mbit/s
Upload: 1862.45 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.294089秒
下载速度: 0字节/秒
```

