# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-30 02:44:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 9.138 ms
Download: 2220.86 Mbit/s
Upload: 1004.08 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 15.705802秒
下载速度: 0字节/秒
```

