# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 03:37:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.061 ms
Download: 1977.35 Mbit/s
Upload: 1811.23 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.664544秒
下载速度: 0字节/秒
```

