# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 05:13:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.075 ms
Download: 1988.30 Mbit/s
Upload: 1844.41 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.520429秒
下载速度: 0字节/秒
```

