# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 04:15:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.464 ms
Download: 2002.37 Mbit/s
Upload: 1653.55 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.482093秒
下载速度: 0字节/秒
```

