# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-01 03:43:56
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.561 ms
Download: 1675.59 Mbit/s
Upload: 403.03 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.639881秒
下载速度: 0字节/秒
```

