# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-04 09:15:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 40.2 ms
Download: 1705.76 Mbit/s
Upload: 844.46 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.750258秒
下载速度: 0字节/秒
```

