# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 02:17:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.161 ms
Download: 1950.10 Mbit/s
Upload: 1873.96 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.256970秒
下载速度: 0字节/秒
```

