# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-06 02:21:25
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 36.741 ms
Download: 1616.64 Mbit/s
Upload: 781.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.114056秒
下载速度: 0字节/秒
```

