# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-23 03:20:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.309 ms
Download: 2062.97 Mbit/s
Upload: 922.09 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.539962秒
下载速度: 0字节/秒
```

