# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 16:15:36
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.054 ms
Download: 2060.80 Mbit/s
Upload: 839.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 7.510322秒
下载速度: 0字节/秒
```

