# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-22 15:14:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.942 ms
Download: 2054.24 Mbit/s
Upload: 1961.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.399711秒
下载速度: 0字节/秒
```

