# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-02 05:13:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 50.373 ms
Download: 1856.18 Mbit/s
Upload: 1060.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.057783秒
下载速度: 0字节/秒
```

