# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-10 04:14:20
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.463 ms
Download: 2046.82 Mbit/s
Upload: 1916.49 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.976831秒
下载速度: 0字节/秒
```

