# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-04 19:13:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.36 ms
Download: 1998.81 Mbit/s
Upload: 1922.15 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.395341秒
下载速度: 0字节/秒
```

