# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-24 08:18:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.714 ms
Download: 2047.22 Mbit/s
Upload: 1880.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.068214秒
下载速度: 0字节/秒
```

