# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-11 14:13:17
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 1.987 ms
Download: 2067.34 Mbit/s
Upload: 1908.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.131306秒
下载速度: 0字节/秒
```

