# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 04:22:59
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.684 ms
Download: 1962.28 Mbit/s
Upload: 1756.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.706045秒
下载速度: 0字节/秒
```

