# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 07:14:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 21.043 ms
Download: 1925.65 Mbit/s
Upload: 1389.06 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.140425秒
下载速度: 0字节/秒
```

