# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-14 10:15:07
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 50.861 ms
Download: 1444.50 Mbit/s
Upload: 620.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.626273秒
下载速度: 0字节/秒
```

