# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-25 04:31:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 26.016 ms
Download: 2431.30 Mbit/s
Upload: 2364.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.645720秒
下载速度: 0字节/秒
```

