# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 14:10:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.953 ms
Download: 2057.80 Mbit/s
Upload: 1662.74 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.112652秒
下载速度: 0字节/秒
```

