# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-02 22:13:10
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.58 ms
Download: 1911.92 Mbit/s
Upload: 1812.70 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.709653秒
下载速度: 0字节/秒
```

