# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 19:10:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.196 ms
Download: 413.58 Mbit/s
Upload: 1865.73 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.793629秒
下载速度: 0字节/秒
```

