# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-16 10:13:50
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.891 ms
Download: 2005.49 Mbit/s
Upload: 1848.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.954337秒
下载速度: 0字节/秒
```

