# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-16 22:14:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.879 ms
Download: 2057.23 Mbit/s
Upload: 1688.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 14.995929秒
下载速度: 0字节/秒
```

