# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-24 20:13:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 48.881 ms
Download: 1836.75 Mbit/s
Upload: 1458.67 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.752131秒
下载速度: 0字节/秒
```

