# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-04 02:16:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.513 ms
Download: 906.24 Mbit/s
Upload: 1181.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.537711秒
下载速度: 0字节/秒
```

