# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-15 02:28:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.437 ms
Download: 1804.02 Mbit/s
Upload: 1191.89 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.575391秒
下载速度: 0字节/秒
```

