# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 20:14:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 32.991 ms
Download: 1591.65 Mbit/s
Upload: 780.36 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.097034秒
下载速度: 0字节/秒
```

