# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-08 22:10:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.542 ms
Download: 2055.17 Mbit/s
Upload: 1439.37 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.537024秒
下载速度: 0字节/秒
```

