# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-23 10:15:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.16 ms
Download: 2924.78 Mbit/s
Upload: 2224.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.507820秒
下载速度: 0字节/秒
```

