# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-02 20:15:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.819 ms
Download: 2040.16 Mbit/s
Upload: 1885.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.344720秒
下载速度: 0字节/秒
```

