# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 23:11:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.148 ms
Download: 1929.75 Mbit/s
Upload: 1765.23 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.231895秒
下载速度: 0字节/秒
```

