# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-13 04:18:57
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.071 ms
Download: 1978.84 Mbit/s
Upload: 1689.92 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.672047秒
下载速度: 0字节/秒
```

