# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 07:13:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.364 ms
Download: 1740.04 Mbit/s
Upload: 1533.84 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 10.235616秒
下载速度: 0字节/秒
```

