# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-18 04:15:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 57.776 ms
Download: 1113.44 Mbit/s
Upload: 390.01 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.237699秒
下载速度: 0字节/秒
```

