# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 02:47:46
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 33.1 ms
Download: 1553.79 Mbit/s
Upload: 741.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.889040秒
下载速度: 0字节/秒
```

