# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-05 21:10:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.119 ms
Download: 2020.56 Mbit/s
Upload: 1505.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.727861秒
下载速度: 0字节/秒
```

