# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-04 05:13:23
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 34.098 ms
Download: 1977.93 Mbit/s
Upload: 1768.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.469813秒
下载速度: 0字节/秒
```

