# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-30 04:16:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.931 ms
Download: 1275.30 Mbit/s
Upload: 1183.97 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.094294秒
下载速度: 0字节/秒
```

