# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 13:24:12
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 41.244 ms
Download: 1258.79 Mbit/s
Upload: 265.96 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.447113秒
下载速度: 0字节/秒
```

