# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 06:20:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.091 ms
Download: 2028.74 Mbit/s
Upload: 1238.99 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.456670秒
下载速度: 0字节/秒
```

