# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-06 17:10:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.51 ms
Download: 1910.31 Mbit/s
Upload: 1458.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.492059秒
下载速度: 0字节/秒
```

