# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-23 23:12:22
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 4.581 ms
Download: 1789.66 Mbit/s
Upload: 1594.77 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.833221秒
下载速度: 0字节/秒
```

