# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-25 03:31:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.782 ms
Download: 2814.46 Mbit/s
Upload: 2223.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.187971秒
下载速度: 0字节/秒
```

