# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 15:12:52
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.967 ms
Download: 1891.98 Mbit/s
Upload: 1794.19 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 13.216780秒
下载速度: 0字节/秒
```

