# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-11 10:13:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.222 ms
Download: 1999.55 Mbit/s
Upload: 1577.34 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.650642秒
下载速度: 0字节/秒
```

