# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-31 09:15:58
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.113 ms
Download: 3024.34 Mbit/s
Upload: 2661.66 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.482172秒
下载速度: 0字节/秒
```

