# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-03 03:47:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 27.563 ms
Download: 1897.54 Mbit/s
Upload: 1270.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.531356秒
下载速度: 0字节/秒
```

