# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-14 02:20:53
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 14.967 ms
Download: 2075.62 Mbit/s
Upload: 1867.18 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.213534秒
下载速度: 0字节/秒
```

