# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-15 14:14:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.089 ms
Download: 1953.39 Mbit/s
Upload: 1906.53 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.842127秒
下载速度: 0字节/秒
```

