# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-01 12:25:54
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 36.196 ms
Download: 1798.73 Mbit/s
Upload: 768.24 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.096419秒
下载速度: 0字节/秒
```

