# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-29 22:13:37
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.203 ms
Download: 2063.72 Mbit/s
Upload: 1652.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.403170秒
下载速度: 0字节/秒
```

