# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 08:16:28
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 13.022 ms
Download: 2249.07 Mbit/s
Upload: 2114.75 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.805756秒
下载速度: 0字节/秒
```

