# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-03 20:14:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.197 ms
Download: 1846.70 Mbit/s
Upload: 1774.96 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.517328秒
下载速度: 0字节/秒
```

