# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 12:23:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.925 ms
Download: 283.58 Mbit/s
Upload: 311.71 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.750707秒
下载速度: 0字节/秒
```

