# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-30 01:05:56
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.966 ms
Download: 1828.76 Mbit/s
Upload: 1938.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.655015秒
下载速度: 0字节/秒
```

