# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-14 14:11:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.766 ms
Download: 1995.10 Mbit/s
Upload: 1725.17 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.638179秒
下载速度: 0字节/秒
```

