# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 15:12:44
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 17.471 ms
Download: 1923.96 Mbit/s
Upload: 1606.95 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.492118秒
下载速度: 0字节/秒
```

