# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-11 22:13:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.789 ms
Download: 1906.53 Mbit/s
Upload: 1696.86 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.366159秒
下载速度: 0字节/秒
```

