# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-21 22:12:19
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.458 ms
Download: 2046.13 Mbit/s
Upload: 1943.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.373392秒
下载速度: 0字节/秒
```

