# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-23 08:15:26
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.168 ms
Download: 1945.20 Mbit/s
Upload: 1539.79 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.574548秒
下载速度: 0字节/秒
```

