# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-15 06:19:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.869 ms
Download: 2003.71 Mbit/s
Upload: 1902.24 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.931999秒
下载速度: 0字节/秒
```

