# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 23:11:38
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 19.066 ms
Download: 2045.46 Mbit/s
Upload: 1628.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.572213秒
下载速度: 0字节/秒
```

