# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-11 23:12:02
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.295 ms
Download: 1986.34 Mbit/s
Upload: 1735.39 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.128085秒
下载速度: 0字节/秒
```

