# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-08 06:20:40
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.381 ms
Download: 2043.09 Mbit/s
Upload: 1848.76 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.574717秒
下载速度: 0字节/秒
```

