# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-19 04:28:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.133 ms
Download: 2040.32 Mbit/s
Upload: 1866.17 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.936312秒
下载速度: 0字节/秒
```

