# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-23 09:14:01
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.162 ms
Download: 2066.92 Mbit/s
Upload: 1892.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.422687秒
下载速度: 0字节/秒
```

