# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 03:23:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 39.787 ms
Download: 1801.73 Mbit/s
Upload: 1084.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.569734秒
下载速度: 0字节/秒
```

