# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-19 22:12:21
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.74 ms
Download: 1919.23 Mbit/s
Upload: 1817.32 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 10.222806秒
下载速度: 0字节/秒
```

