# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-14 09:15:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 10.977 ms
Download: 2080.73 Mbit/s
Upload: 1895.47 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.089799秒
下载速度: 0字节/秒
```

