# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-22 08:17:30
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 2.103 ms
Download: 2076.31 Mbit/s
Upload: 1967.40 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.578708秒
下载速度: 0字节/秒
```

