# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-05 06:15:48
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 38.731 ms
Download: 1443.81 Mbit/s
Upload: 738.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.327328秒
下载速度: 0字节/秒
```

