# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-30 14:13:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 7.264 ms
Download: 2059.37 Mbit/s
Upload: 1698.60 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 5.193737秒
下载速度: 0字节/秒
```

