# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 12:23:05
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 3.334 ms
Download: 2080.04 Mbit/s
Upload: 1904.88 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.132495秒
下载速度: 0字节/秒
```

