# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-12 08:16:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 8.171 ms
Download: 1929.17 Mbit/s
Upload: 1550.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.448909秒
下载速度: 0字节/秒
```

