# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-02 04:18:03
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.273 ms
Download: 1980.93 Mbit/s
Upload: 1600.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 12.266733秒
下载速度: 0字节/秒
```

