# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-05 13:27:11
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 6.345 ms
Download: 2006.72 Mbit/s
Upload: 1890.22 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.096399秒
下载速度: 0字节/秒
```

