# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-19 19:10:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 49.39 ms
Download: 213.83 Mbit/s
Upload: 79.64 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.373199秒
下载速度: 0字节/秒
```

