# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 06:19:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.926 ms
Download: 1760.03 Mbit/s
Upload: 918.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 8.101205秒
下载速度: 0字节/秒
```

