# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-28 11:12:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.731 ms
Download: 2084.03 Mbit/s
Upload: 1928.68 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.945495秒
下载速度: 0字节/秒
```

