# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-28 20:13:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.23 ms
Download: 1869.31 Mbit/s
Upload: 1058.58 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.503865秒
下载速度: 0字节/秒
```

