# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 22:13:12
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 42.521 ms
Download: 1471.19 Mbit/s
Upload: 617.48 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.105584秒
下载速度: 0字节/秒
```

