# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-17 11:11:32
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.674 ms
Download: 1899.23 Mbit/s
Upload: 1600.42 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.967743秒
下载速度: 0字节/秒
```

