# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-10 12:25:16
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.146 ms
Download: 1877.42 Mbit/s
Upload: 1085.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.377925秒
下载速度: 0字节/秒
```

