# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-14 18:18:33
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 22.774 ms
Download: 1055.95 Mbit/s
Upload: 1431.93 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.485373秒
下载速度: 0字节/秒
```

