# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-27 18:18:43
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 70.041 ms
Download: 147.39 Mbit/s
Upload: 549.28 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.338254秒
下载速度: 0字节/秒
```

