# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-24 10:15:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.327 ms
Download: 1909.01 Mbit/s
Upload: 1471.99 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.648897秒
下载速度: 0字节/秒
```

