# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-22 22:13:13
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 11.502 ms
Download: 1884.74 Mbit/s
Upload: 1525.16 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.573564秒
下载速度: 0字节/秒
```

