# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-24 23:12:41
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.832 ms
Download: 1920.75 Mbit/s
Upload: 1759.11 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.725298秒
下载速度: 0字节/秒
```

