# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-10 06:20:34
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 15.816 ms
Download: 1944.55 Mbit/s
Upload: 1602.21 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.974889秒
下载速度: 0字节/秒
```

