# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-20 10:12:31
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.474 ms
Download: 1992.88 Mbit/s
Upload: 1880.85 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 3.607735秒
下载速度: 0字节/秒
```

