# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-12-10 20:15:04
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.77 ms
Download: 1947.88 Mbit/s
Upload: 1188.59 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.569165秒
下载速度: 0字节/秒
```

