# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-10 06:21:14
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 5.089 ms
Download: 2030.29 Mbit/s
Upload: 1874.14 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.501699秒
下载速度: 0字节/秒
```

