# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-09-20 00:53:47
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.527 ms
Download: 1662.41 Mbit/s
Upload: 765.82 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.204326秒
下载速度: 0字节/秒
```

