# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-03 12:23:24
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 18.41 ms
Download: 2037.90 Mbit/s
Upload: 1572.54 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 2.093935秒
下载速度: 0字节/秒
```

