# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-21 03:36:08
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 16.901 ms
Download: 1914.99 Mbit/s
Upload: 1355.87 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 6.067318秒
下载速度: 0字节/秒
```

