# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-20 04:20:09
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 12.595 ms
Download: 287.40 Mbit/s
Upload: 294.31 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.899540秒
下载速度: 0字节/秒
```

