# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-11-01 08:14:39
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 31.047 ms
Download: 2313.33 Mbit/s
Upload: 1047.80 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 0.686742秒
下载速度: 0字节/秒
```

