# AWS宁夏区域网络性能测试报告
## 测试时间: 2025-10-25 04:14:29
## 测试环境: GitHub Actions Ubuntu Latest (Linux)

### 带宽测试结果
```
Ping: 25.403 ms
Download: 1858.26 Mbit/s
Upload: 1339.78 Mbit/s
```

### HTTP连接测试结果
```
HTTP状态码: 307
响应时间: 1.313354秒
下载速度: 0字节/秒
```

